.footer {
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d3dad2;
}

.footer h1 {
  font-size: 20px;
  padding-bottom: 10px;
}

.footer ul li{
  list-style: none;
}

.footer ul li a{
  text-decoration: none;
  cursor: pointer;
}
