* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: black;
  color: white;
}

.logo {
  cursor: pointer;
}

.links {
  display: flex;
}

.link {
  padding: 0 20px;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: larger;
}

a {
  text-decoration: none;
}
